
.App {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    height: 100%;
   
    
}

.AppContainer {
    height: auto;
    width: 100%;
    border: 25px;
    border-color: lightblue;
    border-style: solid;
}

