@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap");

* {
  /* border: solid 5px red;
  box-sizing: border-box; */
  font-family: "Klee One", cursive;
  background-color: whitesmoke;
}

html {
  height: 100%;
  margin: 0;
}

body, #root {
  height: 100%;
  margin: 0;
}

